@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.form-holder {
  @include flex-cc-row;
  @include loading-content;
  align-items: flex-start;
  border: 0;
  min-height: 400px;
}

.user-params-form {
  @include flex-cc-row;
  @include form-edit;
  color: $white-color;
  input,
  select {
    @include input-textarea-look;
  }
  button {
    @include std-button;
  }
  @media all and (max-width: 992px) {
   
    padding: 0px
  }
}

.game-select-label {
  color: $primary-color;
  span {
    color: $danger-color;
  }
}
