@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.loading-holder {
  @include flex-cc-col;
  @include content-base-container;
  width: 100%;

  flex-basis: 100%;
  color: $primary-color;
}
