@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";


.test-app-hoc{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color:$dark-color-light-hover;
    color: $white-color;
    color: $primary-color;
    white-space: pre;
    span{
        color: $secondary-color;
    }
}
