@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.contents-loading {
  @include flex-cc-row;
  height: 300px;
  p {
    flex-basis: 100%;
    text-align: center;
  }
}
.quotes-navigation {
  @include flex-sb-row;
  border-bottom: 1px solid $primary-color;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}
