@import "../../../../scss/mixins.scss";
@import "../../../../scss/variables.scss";

.key-button {
  &-typed-good {
    background-color: $primary-color !important;
  }
  &-typed-bad {
    background-color: $danger-color !important;

  }
  &-untyped {
    background-color: $white-color-light !important;
  }
}
