@import "../../../../scss/mixins.scss";
@import "../../../../scss/variables.scss";

.game-info {
  @media all and (max-width: 992px) {
    margin-top: 10px;
  .info-elem{
    flex-basis: 45% !important;
    margin-top: 0px !important;
    padding: 2px !important;
  }
  
  }
  @include flex-cc-row;
  flex-basis: 100%;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 0px;
  .info-elem {
    @include flex-cc-row;
    flex-basis: 33%;
    padding: 20px;
    p {
      span {
        color: $primary-color;
      }
    }
  }
}
