@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.app-welcome {
  @include basic-app-padding;
  @include flex-cl-row;
  @include basic-app-margin;
  background-color: $black-color;
  color: $primary-color;
  padding-top: 40px;
  padding-bottom: 20px;
  height: 500px;
}
