@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.app-main {
  @include basic-app-padding;
  @include flex-cl-row;
  @include basic-app-margin;
  background-color: $dark-color;
  color: $white-color;
  min-height: 200px;
  padding-bottom: 50px;
  @media all and (max-width: 992px) {
    padding-bottom: 5px;
    }
}
