@import "../../../../scss/mixins.scss";
@import "../../../../scss/variables.scss";

.game-finished {
  @include flex-cc-row;
  position: absolute;
  width: 100%;
  min-height: 100%;
  font-weight: 900;
  font-size: 3em;
  align-items: flex-start;
  text-align: center;
  border-radius: 20px;
  &-win {
    background-color: $primary-color-opacity;
  }
  &-dead {
    background-color: $danger-color-opacity;
  }
  h2 {
    text-transform: uppercase;
    padding-top: 20px;
    flex-basis: 100%;
  }
  h3,
  h4,
  h5 {
    flex-basis: 100%;
  }
  h5 {
    color: $secondary-color;
  }
  .btn-restart {
    margin: 40px;
    &:hover {
      background-color: $dark-color-hover;
      color: $white-color;
    }
  }
}
