@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.form-handler {
  width: 100%;
}

.add-edit-form {
  @include flex-cc-row;
  @include form-edit;

  input,
  textarea {
    @include input-textarea-look;
  }
  textarea {
    resize: none;
    height: 100px;
  }
  .btn {
    @include std-button;
    &-info {
      border: 1px solid $secondary-color;
      background-color: $dark-color;
      &:hover {
        background-color: $dark-color-light;
        color: $white-color;
      }
    }
  }
}
.label {
  span.error {
    color: $danger-color;
  }
}
