@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.form-handler {
  width: 100%;
}

.add-edit-form {
  @include flex-cc-row;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  justify-content: flex-start;

  input,
  textarea {
    @include input-add-edit-quote;
    flex-basis: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.4s ease-out;
    &:focus {
      border: 0;
      outline: none;
      background: $dark-color-light-hover;
    }
  }
  textarea {
    resize: none;
    height: 100px;
  }
  .btn {
    border: 0;
    background-color: $dark-color-light;
    color: $white-color;
    flex-basis: 100%;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    margin-top: 20px;
    transition: all 0.4s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: $primary-color;
      color: $dark-color;
    }
    &-info {
      border: 1px solid $secondary-color;
      background-color: $dark-color;
      &:hover {
        background-color: $dark-color-light;
        color: $white-color;
      }
    }
  }
}
.label {
  span.error {
    color: $danger-color;
  }
}
