@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.app-header {
  @include basic-app-padding;
  @include flex-cl-row;
  @include basic-app-margin;
  background-color: $back-color;
  color: $primary-color;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}
.user {
  color: $grey-color;
  font-size: 14px;
  margin-top: 20px;
  span {
    text-transform: uppercase;
    color: $primary-color;
    margin: 10px 20px;
  }
}
