@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.app-navbar {
  @include basic-app-padding;
  @include flex-cr-row;
  @include basic-app-margin;
  @include basic-nav-padding;
  background-color: $dark-color;
  color: $white-color;

  li {
    flex-basis: 10%;
    list-style: none;
    border-right: 1px solid $grey-color;
    display: flex;
    &:last-child {
      border-right: none;
    }
  }
}
.nav-item {
  color: $primary-color;
  text-decoration: none;
  flex-grow: 1;
  padding: 10px;
  transition: color 0.4s ease-in-out;
  &:hover {
    color: $secondary-color;
  }
  &-active {
    color: $white-color;
  }
}
