@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.app-navbar {
  @include basic-app-padding;
  @include flex-cr-row;
  @include basic-app-margin;
  @include basic-nav-padding;
  background-color: $dark-color;
  color: $white-color;
 
  @media all and (max-width: 992px) {
    justify-content: space-around;
    font-size: 12px;
    li{
      
        button{
          font-size: 12px;

        }
      
    }
  }
  li {
    @include border-item-no-last;
    flex-basis: 10%;
    list-style: none;
    display: flex;
    
  }
}
.nav-item {
  color: $primary-color;
  text-decoration: none;
  flex-grow: 1;
  padding: 10px;
  transition: color 0.4s ease-in-out;
  &:hover {
    color: $secondary-color;
  }
  &-active {
    color: $white-color;
  }
  &-danger {
    color: $danger-color;
    background-color: $dark-color;
    border: none;
    cursor: pointer;
    font-size: 16px;
    &:hover {
      color: $danger-color-hover;
    }
  }
  &-disabled{
    background-color: $dark-color;
    border: none;
    color: $dark-color-light;
    font-size: 16px;
    cursor: default;
    &:hover {
    color: $dark-color-light;
    }
  }
}
