@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.quote-query-input {
  @include input-quote-header;
  flex-basis: 25%;
}

.quote-page-size {
  @include input-quote-header;

  option {
    text-align: center;
  }
}

.quote-query-input,
.quote-page-size {
  @media all and (max-width: 992px) {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  @media all and (max-width: 1920px) {
  }
}
