@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.game-container {
  @include flex-cc-col;
  position: relative;
  flex-basis: 100%;
  button {
    flex-basis: 100%;
    width: 100%;
    @include std-button;
    &:hover {
      background-color: $danger-color;
    }
  }
  .keyboard {
    flex-basis: 100%;
    width: 100%;
    color: $dark-color;
  }
}
.quote-author {
  @include flex-cc-row;
  width: 100%;
  justify-content: space-between;
  color: $primary-color;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  margin: 20px 0;
  .quote-item {
    flex-basis: 30%;
    padding: 30px;
    @media all and (max-width: 992px) {
   
      padding: 5px;
    }
  }
}
