$primary-color: #6dba0a;
$primary-color-opacity: #6dba0ac9;
$primary-color-hover: #6dfe0f;
$primary-color-light: #c0ff6e;
$secondary-color: #ffff00;
$secondary-color-opacity: rgba(255, 255, 0, 0.7);
$dark-color: #1f2227;
$dark-color-hover: #3c434f;
$dark-color-light: rgb(52, 58, 66);
$dark-color-light-opacity: rgba(52,58,66,0.85);
$dark-color-light-hover: #444e5c;
$black-color: #0b0000;
$grey-color: grey;
$back-color: #e7e1e1;
$white-color: #e7e1e1;
$white-color-light: #dfd6b8;
$danger-color: #bd1600;
$danger-color-light: #ff5c47;
$danger-color-hover: #ed2711;
$danger-color-opacity: #bd1600c9;

//APP PADDING AND MARGIN

$app-padding: 300px;
$app-margin: 20;
