$primary-color: #6dba0a;
$primary-color-hover: #6dfe0f;
$secondary-color: #ffff00;
$dark-color: #1f2227;
$dark-color-hover: #3c434f;
$dark-color-light: #343a42;
$dark-color-light-hover: #444e5c;
$black-color: #0b0000;
$grey-color: grey;
$white-color: #e7e1e1;
$back-color: #e7e1e1;
$danger-color: #bd1600;
$danger-color-opacity: #bd1600c9;
