@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.btn-box {
  flex-basis: 100%;
  @media all and (max-width: 1920px) {
    @include flex-cc-row;
  }
  @media all and (max-width: 768px) {
    @include flex-cc-row;
    // align-items: stretch;
    width: 100%;
  }
}

.btn {
  @include flex-item-btn;
  flex-basis: 100%;
  // width: 100%;
  border: 0;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  color: $white-color;
  font-size: 12px;
  &-edit {
    border: 1px solid $primary-color;
    &:hover {
      cursor: pointer;
      background-color: $primary-color-hover;
    }
  }
  &-danger {
    border: 1px solid $danger-color-light;
    &:hover {
      cursor: pointer;
      background-color: red;
    }
  }
  &-disabled{
    background-color: $dark-color-light;
    color: $dark-color-light;
    opacity: 0;
    pointer-events: none;
    // display: none;
    // &:hover {
    //   pointer-events: none;
    //   // cursor: initial;
    //   background-color: $dark-color;
    // }
  }
}
a{
  text-decoration: none;
}
